<div class="container p-4">
    <div class="col-sm-12">
        <h1 class="text-center">About Us</h1>
        <div class="col-sm-2 mx-auto">
            <hr style="border: 5px solid #009bd9;" class="shadow-lg text-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 p-4">
            <img src="assets/pexels-rodion-kutsaiev-9436715.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-6 p-4">
            <p style="font-style:italic">
                Nova is a modern multipurpose business bootstrap template. The template is highly suitable for any
                consulting agency, finance, consultant, advisor, business, and other agencies and businesses. Nova gives
                you
                the full ability to create modern business websites across various possible fields, industries, and
                businesses, and both personal and professional usages.

                Nova comes with a stunning homepage for small or large businesses, professional services & portfolios,
                blog,
                pricing, and other inner pages. Moreover, the Nova business template is mobile-friendly so that your
                website
                can be reached on different devices.

                Nova is a fully responsive template for mobile-friendly websites and applications. Every single feature
                and
                page element will look amazing on the screens of tablets and mobile phones. It includes page templates
                and
                layouts explicitly created to be the responsive visual environment on the market today.

                Nova would be an excellent choice for you to present your new business website based on a creative
                design.
            </p>
        </div>
    </div>
</div>